{% extends 'base.html' %}

{% load humanize %}

{% block title %}Enter Product Data{% endblock %}

{% block content %}
<h2>Enter Product Data - {{ product.name }}</h2>
<form method="post">
    {% csrf_token %}

    <h3>Product Information:</h3>
    {{ form.as_p }}

    <h3>Raw Materials:</h3>
    {{ raw_material_formset.management_form }}
    {% for form in raw_material_formset %}
    <div>
        {{ form.quantity.label_tag }} {{ form.quantity }}
        {{ form.unit_price.label_tag }} {{ form.unit_price }}
    </div>
    {% endfor %}

    <h3>Packaging Materials:</h3>
    {{ packaging_material_formset.management_form }}
    {% for form in packaging_material_formset %}
    <div>
        {{ form.quantity.label_tag }} {{ form.quantity }}
        {{ form.unit_price.label_tag }} {{ form.unit_price }}
    </div>
    {% endfor %}

    <button type="submit">Save Changes</button>
</form>

<a href="{% url 'select_product' %}">Can Edit another product</a>
{% endblock %}
