{% extends 'base.html' %}

{% load humanize %} <!-- Load the humanize template tags -->

{% block title %}SUMMARY{% endblock %}

{% block content %}
    <style>
        .table-container {
            overflow-x: auto; /* Enable horizontal scrolling */
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            padding: 10px; /* Adjust the padding value to increase or decrease spacing */
            text-align: center; /* Center-align text within cells */
            border: 1px solid #ddd; /* Add border for clarity */
        }
        th {
            background-color: #f2f2f2; /* Gray background for headings */
        }
        td.product-name {
            width: 20%; /* Adjust the width as needed */
            word-wrap: break-word; /* Allow long names to wrap onto multiple lines */
            text-align: left; /* Left-align text within product name cell */
        }
    </style>

    <h1>Product Summaries</h1>
    <div class="table-container">
        <table>
            <tr>
                <th>Product Name</th>
                <th>Total Raw Material Cost</th>
                <th>Total Packaging Material Cost</th>
                <th>Total Material Cost</th>
                <th>Total Overhead Apportioned</th>
                <th>Total Batch Production Cost</th>
                <th>Total Item Production Price</th>
                <th>Markup</th> <!-- New column -->
                <th>Selling Price</th> <!-- New column -->
            </tr>
            {% for summary in summaries %}
            <tr>
                <td class="product-name">{{ summary.product.name }}</td>
                <td>{{ summary.total_raw_cost|intcomma }}</td>
                <td>{{ summary.total_packaging_cost|intcomma }}</td>
                <td>{{ summary.total_material_cost|intcomma }}</td>
                <td>{{ summary.overhead_percentage_used|intcomma }}</td>
                <td>{{ summary.estimated_batch_price|intcomma }}</td>
                <td>{{ summary.estimated_item_price|intcomma }}</td>
                <td>{{ summary.product.markup }}</td> <!-- Display the markup value -->
                <td>
                    {% if summary.selling_price %}
                        {{ summary.selling_price|intcomma }}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
